<div class="row">
	<div class="col xl5">
		<img src={{item.imageUrl}} class="image" />
	</div>
	<div class="col xl7">
		<h2>{{item.name}}</h2>
		<h5>Price: {{item.priceFormatted}}</h5>
		<div class="description" [innerHTML]="item.description"></div>
		<form [formGroup]="addToCartForm" (ngSubmit)="onAddToCartFormSubmit(addToCartForm.value)" class="row">
			<div class="input-field col s3">
				<input id="amount" type="text" formControlName="amount">
				<label for="amount">Amount</label>
			</div>
			<div class="input-field col s9 ">
				<button type="submit" class="btn-large">Add to cart</button>
			</div>
		</form>
	</div>
</div>
